[flake8]

# things we don't want to lint
exclude =
    .tox,
    .git,
    .flake8,
    .gitignore,
    .travis.yml,
    .cache,
    .eggs,
    *.rst,
    *.yml,
    *.pyc,
    *.pyo,
    *.egg-info,
    __pycache__,
    *test*,
    __init__.py,
    # Those are our third parties, do not lint them!
    python/vendor*,
    # Otherwise you'll have a lot of 'xxx' imported but unused
    tests/python*,
    docs*

# toolkit exceptions
#
# E203 whitespace before ':' (this is not PEP8 compliant)
# E221 multiple spaces before operator
# E261 two whitespaces before end of line comment.
# E402 module level import not top of file
# E501 line too long (112 > 79 characters)
# W503 Line break occurred before a binary operator
# N802 Variables should be lower case. (clashes with Qt naming conventions)
# N806 Variables should be lower case. (clashes with Qt naming conventions)
# E999 SyntaxError: invalid syntax (hack for hound CI which runs python 3.x)

ignore = E203, E221, E261, E402, E501, W503, N802, N806, E999
max-line-length = 89
max-complexity = 18
select = B,C,E,F,W,T4,B9